.adventuresMain {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

article {
  border: 1px solid black;
}

main {
  /* background: rgb(60, 120, 180); */
}
